@elrest:registry=http://web-10.elrest.zz/api/v4/projects/1/packages/npm/
//web-10.elrest.zz/api/v4/projects/1/packages/npm/:_authToken=${CI_JOB_TOKEN}
@elrest:registry=http://web-10.elrest.zz/api/v4/projects/1/packages/npm/
//web-10.elrest.zz/api/v4/projects/1/packages/npm/:_authToken=${CI_JOB_TOKEN}
